.user-content {
  margin-top:20px;
  width: 100%;
  height: 100px;
}


.btn {
  width: 200px;
  height: 100px;
  background-color: blue;
  color: orange;
  font-size: 24px;
}

.active svg path {
  d: path("M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-5.904-2.803a.5.5 0 1 1 .707.707L6.707 10h2.768a.5.5 0 0 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.525a.5.5 0 0 1 1 0v2.768l4.096-4.096z")
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, .3);
  transform: scale(1.02);
}